body{
    width:100%;
    height: 100%;
    font-family: :Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background: url(https://wi.wallpapertip.com/wsimgs/171-1712831_wallpaper-cup-coffee-books-pen-laptop-1080p-hd.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      h1{
          text-align:end ;
          font-style: italic;
          font-size: 3rem;
          color:azure;
      }
      hr{
          border-color:yellow; 
          border-width: 1000px;
          max-width:100px;
      }
      .buffer{
          height:50px;
      }
      .btn{
          font-size: 1rem;
          border-radius: 50px;
          text-transform: uppercase;
      }
      .btn-primary{
          background-color:rgb(236, 47, 0);
          border-color: rgb(238, 164, 130);
      }
      .btn-xl{
          padding:1rem 1rem;
      }
      .btn-primary:hover{
          background-color: lightskyblue;
          border-color: mediumaquamarine;
          border-width: 2px;

      }